@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 .nav-container{
  align-items: center;
 }
 ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    align-items: center;
    background-color: rgb(255,255,102);
    position: fixed;
    top: 0;
    width: 100%;
  }

ul.topnav li {
    float: left;
    font-family: 'Abril Fatface', cursive;
    

  }

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
ul.topnav li.right {float: right;}

li a:hover {
    background-color: white;
}


  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  
 